<div class="back-img h-100">
  <div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">
        <img src='./../../../assets/images/background/user-info.jpg' alt="logo" style="width:40px;">
      </a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/signUp">Sign Up</a>
        </li> -->

      </ul>
    </nav>
  </div>

  <div class="container-fluid min-vh-100 justify-content-center align-items-center" style="width:40%">
    <div class="card bg-opacity">
      <div class="card-body text-white">
        <div class="text-center">
          <h1 class="text-info"><b>8 WEEKS TRANSFORMATION</b></h1>
          <P class="border-bottom">Male or Female, Bulking, Cutting or General Weight Loss.</P>
        </div>
        <div>
          The 8 week transformation program below includes a customized diet that tells you exactly what to eat, and how
          much for the complete 8 weeks. I also provide a complete workout routine that is updated every 4 weeks. You
          will be able to contact me anytime 24 hours a day regarding any questions or concerns about the program, and i
          promise a reasonable response time.
        </div>
        <div  class="text-center">
          <h1><span class="text-danger">NOW</span> $65</h1>
          <h1 class="text-warning"><i>ONE TIME FEE!</i></h1>
        </div>
        <div class="text-center">
          <button class="btn btn-danger" (click)="start()">
            <span class="display-5">Start Now</span>
          </button>
          <p>Home workouts now INCLUDED!</p>
        </div>
        <div class="text-center">
          <h2>WHATS INCLUDED:</h2>
        </div>
        <div class="w-75 mx-auto">
          <ul>
            <li>Customized Meal Plan</li>
            <li>Eat The Foods YOU LIKE.</li>
            <li>Macro Breakdown for EACH MEAL.</li>
            <li>Week 1-8 Exercise Plan</li>
            <li>Cardio Guide</li>
            <li>Supplement Guide & List</li>
            <li>Extended Nutritional Tips</li>
            <li>Customer Service via Email</li>
            <li>Available for Men/Women</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>